/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

body {
    font-family: 'Oswald', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* LAYOUT */





/* Column size */

.col-1 {
    width: calc((100% / 12) * 1);
}
.col-2 {
    width: calc((100% / 12) * 2);
}
.col-3 {
    width: calc((100% / 12) * 3);
}
.col-4 {
    width: calc((100% / 12) * 4);
}
.col-5 {
    width: calc((100% / 12) * 5);
}
.col-6 {
    width: calc((100% / 12) * 6);
}
.col-7 {
    width: calc((100% / 12) * 7);
}
.col-8 {
    width: calc((100% / 12) * 8);
}
.col-9 {
    width: calc((100% / 12) * 9);
}
.col-10 {
    width: calc((100% / 12) * 10);
}
.col-11 {
    width: calc((100% / 12) * 11);
}
.col-12 {
    width: 100%;
}

/* UTILITIES */

.container-lg {
    width: 100%;
}

.container {
    width: 1220px;
    margin: 0 auto;

}

.container-sm {
    width: 1000px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

button {
    border: 0;
    background-color: transparent;
    padding: 5px 10px;
}

.bg-blue {
    background-color: #0061FF;
}

.text-white {
    color: white;
}

/* HEADER */

header .row {
    height: 80px;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.header-logo, .header-login {
    gap: 30px;
    align-items: center;
}

/* HERO */

.hero {
    background-color: #B4D0E7;
}

.hero h1 {
    font-size: 90px;
}

.hero-bottom .col-5 {
    flex-direction: column;
    gap: 30px;
}

.icon-row-down {
    font-size: 40px;
    margin-top: auto;
}

.hero-title, .hero-bottom .row {
    padding-top: 30px;
}






















/* DEBUG */

.debug [class^="container"] {
    border: 2px solid black;
}

.debug .row {
    border: 2px solid red;
}

.debug [class^="col"] {
    border: 2px solid green;
}