/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

menu,
ul,
ol {
	list-style: none;
}

body {
    
    font-family: 'Roboto', sans-serif;
    
}

/* LAYOUT */





/* Column size */

.col-1 {
    width: calc((100% / 12) * 1);
}
.col-2 {
    width: calc((100% / 12) * 2);
}
.col-3 {
    width: calc((100% / 12) * 3);
}
.col-4 {
    width: calc((100% / 12) * 4);
}
.col-5 {
    width: calc((100% / 12) * 5);
}
.col-6 {
    width: calc((100% / 12) * 6);
}
.col-7 {
    width: calc((100% / 12) * 7);
}
.col-8 {
    width: calc((100% / 12) * 8);
}
.col-9 {
    width: calc((100% / 12) * 9);
}
.col-10 {
    width: calc((100% / 12) * 10);
}
.col-11 {
    width: calc((100% / 12) * 11);
}
.col-12 {
    width: 100%;
}

.col-20 {
    width: calc(100% / 5);
}

/* UTILITIES */



.container-lg {
    width: 100%;
}

.container {
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;

}

.container-sm {
    max-width: 1048px;
    width: 100%;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

section {
    margin-top: 100px;
}

button {
    border: 0;
    background-color: transparent;
    padding: 10px;
    font-size: 18px;
}

.bg-blue {
    background-color: #0061FF;
}

.bg-white {
    background-color:white;
}

.text-white {
    color: white;
}

h1 {
    font-size: 90px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 20px;
}

.animation-blur {
    animation-name: blur-img;
    animation-duration: 3s;
    animation-iteration-count: 1;
}

@keyframes blur-img {
    from {
        filter: blur(50px);
    }
    to {
        filter: blur(0);
    }
}

.icon-row-down i {
    animation-name: icon-down;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes icon-down {
    0% {
		transform: translateY(0px);
	}
	25% {
		transform: translateY(-50px);
	}
	100% {
		transform: translateY(0px);
	}
}

/* HEADER */



header .row {
    
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
}

.header-logo, .header-login {
    padding: 20px 0;
    gap: 30px;
    align-items: center;
}

/* HERO */

.hero {
    background-color: #B4D0E7;
    margin-top: 0;
}



.hero-bottom .col-3 {
    flex-direction: column;
    gap: 30px;
    padding-top: 80px;
}

.hero-bottom .col-9 {
    position: relative;
}

.hero-bottom .col-9 img {
    position: relative;
    bottom: -80px;
}
.icon-row-down {
    font-size: 40px;
    margin-top: auto;
}

.hero-title, .hero-bottom .row {
    padding-top: 30px;
}

.hero h4 {
    font-weight: 400;
}



/* PLANE */

.col-12.plane-title {
    padding: 50px 24px 10px 24px;
}

.card-plane .plane-title {
    padding: 50px 24px 10px 0;
    
}

.invoice {
    gap: 30px;
    padding: 50px 24px 10px 24px;
}



.plane [class^="col"] {
    padding: 0 25px;
    padding-bottom: 40px;
    flex-direction: column;
}

.plane-business {
    margin-top: 30px;
}

.card-plane {
    border: 2px solid lightgray;
    padding: 10px 24px 10px 24px;
    flex-grow: 1;
}

.plane-type {
    
    text-align: center;
    padding: 10px 0;
    border: 2px solid lightgray;
    border-bottom: none;
}

.plane-period {
    font-weight: 300;
}

.single img {
    width: 15px;
}

.team img {
    width: 20px;
}

.agency img {
    width: 12px;
}

.plane-period {
    color: gray;
}

.plane-fuction {
    
    margin: 30px 0 50px 12px;
}

.list-fuction li {
    margin-bottom: 10px;
}

.list-fuction li.list-user { 
    background:url(../img/user-solid.svg) no-repeat 0 3px;
    padding-left:30px;
    background-size: 15px;
    
}

.list-fuction li.list-byte { 
    background:url(../img/folder-solid.svg) no-repeat 0 3px;
    padding-left:30px;
    background-size: 15px;
}

.list-fuction li.list-share { 
    background:url(../img/share-nodes-solid.svg) no-repeat 0 3px;
    padding-left:30px;
    background-size: 15px;
    
}


.try-free-bt button{
    width: 100%;
}

.buy-now {
    padding: 50px 0;
    
}
.buy-now::after {
    content: ' ';
    display: block;
    width: 75px;
    height: 2px;
    background-color: lightgray;
    margin-top: 20px;
}

.buy-now h4 {
    font-weight: 300;
    font-size: 16px;
}
.buy-now a {
    text-decoration: underline;
    color: blue;
}

.sailent, .sailent-list {
    margin-top: 30px;
}

.sailent-list img {
    width: 20px;
    margin-bottom: 16px;
    margin-right: 10px;
    filter: invert(30%) sepia(75%) saturate(6476%) hue-rotate(214deg) brightness(102%) contrast(105%);
}
.sailent-list li {
    padding: 10px 0;
}



 .plane-title {
    padding-top: 40px;
 }
.contact-us {
    padding-top: 40px;
}

.contact-us button {
    width: 100%;
    
}

/* PARTNER */


.partner [class^="col"] {
    padding: 0 24px;
}

.partner .col-5 {
    flex-direction: column;
    margin-top: 50px;
    gap: 30px;
}

.partner button {
    border: 2px solid gray;

}



/* OPERATION */



.operation [class^="col"] {
    padding: 0 24px;
}


.card-operation * {
    padding-bottom: 20px;
}

.card-operation img {
    padding-top: 20px;

}

.operation [class^="col"] {
    border: 1px solid transparent;

}

.operation [class^="col"]:hover {
    border: 1px solid #005FFA;
    border-radius: 5px;

}

/* TEAM */

.team .container-sm {
    padding: 0 24px;
}

.team a {
    font-weight: 400;
    text-decoration: underline;
    color: blue;
    
}

.team h2 {
    margin-bottom: 30px;
}

/* SPONSOR */

.card-sponsor  {
    width: 50%;
    height: auto;
    aspect-ratio: 1/1;
    padding: 10%;
 
}

.card-sponsor * {
    object-fit: contain;
}

.sponsor-icon {
    filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(176deg) brightness(107%) contrast(98%);
}

.card-sponsor-central {
    aspect-ratio: 1/1;
    overflow: auto;
}


.designit {
    background-color: #A2D39B;
}
.arizona {
    background-color: #61082B;
}
.university {
    background-color: #0093CE;
}
.topps {
    background-color: #FF1C1C;
}
.bicycle {
    background-color: #D5001F;
}
.hearst {
    background-color: #B4D0E7;
}
.lonley {
    background-color: #0D2481;
}
.channel {
    background-color: #FFD830;
}

.card-sponsor-central {
    padding: 10%;
    background-color: #F5F5F5;
    flex-grow: 1;
}

.logo-designit {
    
    padding-bottom: 48px;
    
}

.logo-designit::after {
    content: ' ';
    display: block;
    width: 200px;
    height: 2px;
    background-color: lightgray;
    margin-top: 30px;
}

.card-sponsor-central p {
    margin-top: 36px;
}

.card-sponsor > img:hover {
    transform: scale(1.5);
}

/* FREE TRY */

.free-try {
    background-color: #B4D0E7;
    margin-top: 0;
}

.free-try .row {
    padding: 120px 24px;
    color: #61082B;
}

.free-try .try-free-bt {
    margin: 0 auto;
    width: 75%;
}

/* QUESTION */

.question .row {
    flex-direction: column;
}

.question .col-12 {
    border-bottom: 2px solid gray;
    padding: 50px 0;
    justify-content: space-between;
}

.question .angle img {
    height: 20px;
    
}

/* FOOTER */

.footer-top {
    padding: 100px 0;
    
}

.footer-top, .footer-bottom {
    background-color: black;
    color: white;
}

.footer-app *{
    margin-top: 30px;
    padding-right: 20px;
      
}
.footer-top li {
    font-size: 18px;
}

.footer-icon img {
    width: 20px;
    color: white;
}

.footer-top .row {
    padding-bottom: 50px;
    justify-content: space-between;
}
.footer-bottom > *{
    gap: 20px;
    padding: 50px 0;
    
}

.footer-bottom::before {
    content: ' ';
    display: block;
    width: 140px;
    height: 2px;
    background-color: currentColor;
    
}

.world-icon {
    filter: invert(100%) sepia(0%) saturate(7490%) hue-rotate(176deg) brightness(107%) contrast(98%);
}















